@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --content-height: calc(100vh - 70px);
}

html {
  scroll-behavior: smooth;
}

#grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 100vh repeat(4, var(--content-height)) 40px;
  height: calc(var(--content-height) * 4);
  width: 100vw;
}

body {
  margin: 0 auto;
  padding: 0 0;
  background-color:#f2f2f2;
}

.fixedNavbar {
}

header 
{
  position:absolute;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  height:150px;
  width:100%;
  background-color:rgba(255, 255, 255, 0.6);
  font-family: "Muli";
}

header .sigla
{
  margin-left:20px;
  flex-grow:4;
}

header .locatie
{
  flex-grow:1;
}

header .contact
{
  flex-grow:1;
}

header .locatie .icon
{
  color:rgba(0, 105, 204, 0.95);
}
header .contact .icon
{
  color:rgba(0, 105, 204, 0.95);
}

nav {
  transition: background-color 0.5s ease;
  background-color:rgba(0, 105, 204, 0.95);
  top:150px;
  position:absolute;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
}

.sticky {
  z-index:1;
  transition: background-color 0.5s ease;
  background-color:rgba(0, 105, 204, 0.95);
  position:fixed;
  width:100%;
  top:0;
}

nav a 
{
  transition: color 0.3s ease;
  cursor:pointer;
  font-family: 'Muli';
  font-weight: 1000;
  font-size:23px;
  color:white;
}

.sticky a
{
  color:white;
}

nav > span > a:hover
{
  transition: color 0.3s ease;
  color:rgb(0, 35, 68);
}


main {
  background: url(../images/background-main.jpg);
  background-size: cover;
  grid-row-start: 1;
  grid-column: 1 / span 10;
}

#programari
{
  background-color:#f2f2f2;
  grid-row-start: 2;
  grid-column: 1 / span 6;
  margin: auto auto auto auto;
  padding: 10px;
  display:block;
  border-style:double;
  border-color:lightsteelblue;
  border-radius:20px;
  font-family: "Muli";
  text-align:center;
}

#programari > div
{
  margin: auto;
}

#programari > h1
{
  font-size:25px;
  padding-bottom:10px;
  border-bottom-style: solid;
}

#programari > div > input, #programari > div > textarea, #programari > div > button
{
  margin-left:auto;
  display:block;
  border-radius:5px;
  margin:25px;
  font-size:17px;
  font-family: "Muli";
}

#programari > div > input, #programari > div > button
{
  position:relative;
  left:22%;
  height:30px;
  width: 50%;
}

#programari > div > textarea
{
  position:relative;
  left:22%;
  height:100px;
  width: 50%;
}

#programari > div > button:hover
{
  transition: background-color 0.5s ease;
  background-color:lightsteelblue;
}

#programari > div > button:focus
{
  outline:none;
}

#orar 
{
  grid-row-start: 2;
  grid-column: span 4;
  text-align:center;

  background-color:rgb(129, 167, 204);
}

#orar .orar
{
  height:300px;
  font-family: "Muli";
}

#orar .analize
{
  height:400px;
  overflow:scroll;
}

#orar .orar > h1
{
  margin-left:100px;
  margin-right:100px;
  padding-bottom:10px;
  border-bottom-style: solid;
  font-size:25px;
}

#orar .orar > table
{
  position:relative;
  top:-10px;
  width:100%;
  text-align:center;
  font-size:20px;
  border-spacing:5px;
}

#rezultate {
  grid-row-start: 3;
  grid-column: 1 / span 10;
  display:block;
  font-family: "Muli";
  text-align:center;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:rgb(199, 201, 204);;
  z-index:0;
}

#rezultate .container
{
  max-width:700px;
}

#rezultate .container > h1
{
  font-size:25px;
  padding-bottom:10px;
  border-bottom-style: solid;
}

#rezultate .container > form > input,  #rezultate .container > form > button
{
  margin-left:auto;
  display:block;
  border-radius:5px;
  margin:25px;
  font-size:17px;
  font-family: "Muli";
}

#rezultate .container > form > input, #rezultate .container > form > button
{
  position:relative;
  left:22%;
  height:30px;
  width: 50%;
}

#rezultate .container > form > aside
{
  font-size:15px;
}

#rezultate .container > form > button:hover
{
  transition: background-color 0.5s ease;
  background-color:lightsteelblue;
}

#rezultate .container > form > button:focus
{
  outline:none;
}

#certificari {
  grid-row-start: 4;
  grid-column: 1 / span 10;
}

footer {
  grid-column: 1 / span 10;
  border-style:solid; 
  grid-row-start: 5;
  font-family:'Muli';
  padding: auto;
  height: 40px;
}

.chestionarContent {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.chestionarBody
{
  padding: 2px 16px;
  text-align:center;
}

.chestionarBody > h1
{ 
  font-size:25px;
}

.chestionarBody .rating > p
{ 
  font-size:22px;
}

.ratings
{
  display:flex;
  justify-content:space-evenly;
  flex-wrap:wrap; 
}

.rating
{
  min-width:400px;
}

.chestionarBody .starRating
{
  font-size:30px;
}

#submitChestionar
{
  font-size:30px;
  height:40px;
  width: 50%;
  margin:10px;
}

#chestionarCnp
{
  width:20%;
  height:30px;
  border-radius:5px;
  font-size:18px;
  font-family: "Muli";
  min-width:150px;
}

.chestionarHeader {
  padding: 2px 16px;
  text-align:center;
  background-color: #7bfdff;
  color: rgb(0, 0, 0);
}


@media (max-width: 1280px) {
}

@media (max-width: 768px) {
  #grid {
    grid-template-rows: 100vh repeat(6, var(--content-height)) 40px;
    height: calc(var(--content-height) * 7);
  }
  
  main {
    grid-row-start: 1;
    grid-column: 1 / span 10;
  }
  
  #programari
  {
    grid-row-start: 2;
    grid-column: 1 / span 10;
  }
  
  #orar {
    grid-row-start: 3;
    grid-column: 1 / span 10;
  }
  
  #rezultate {
    grid-row-start: 4;
    grid-column: 1 / span 10;
  }
  
  #certificari {
    grid-row-start: 5;
    grid-column: 1 / span 10;
  }
  
  #chestionar {
    grid-row-start: 6;
    grid-column: 1 / span 10;
  }
  
  #contact {
    grid-row-start: 7;
    grid-column: 1 / span 10;
  }
  
  footer {
    grid-row-start: 8;
    grid-column: 1 / span 10;
  }
}